/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  align-items: center;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.tablinks {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  font-family: sans-serif;
  line-height: 2;
  margin-left: auto;
  width: 602px;
  cursor: pointer;
}

h1 {
  color: red;
  text-align: center;
  font-size: 70px;
}

h3 {
  text-align: center;
}

.thingamabob {
  background-color: lightgrey;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  font-family: sans-serif;
  line-height: 2;
  margin-left: auto;
  width: 602px;
}

.centerbutton {
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
  line-height: 2;
  width: 602px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#signature {
  text-align: center;
  color: darkgrey;
  font-style: italic;
  font-size: 75%;
}
